@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.controller-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainColor);
  font-family: "Poppins";
  border-radius: 18px;
  background-color: rgba(106, 109, 155, 0.5);
}

.player-card {
  width: 100%;
  height: 55vh;
  border-radius: 10px;
  padding: 10px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}
.player-card .loader {
  width: 70%;
  height: 120;
  object-fit: contain;
  object-position: center;
}
.player-card > img {
  width: 60%;
  border-radius: 50% !important;
  border-radius: 10px;
}

.player-card input[type="range"] {
  width: 100%;
  height: 5px;
  accent-color: #436ee6;
  outline: none;
}

.player-card .track-duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.player-card .track-duration > p {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  margin: 0;
}
.player-card button {
  width: 3rem;
  height: 3rem;
  font-size: 34px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #436ee6;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px auto 10px;
}

.latha {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 40px 0;
  flex-direction: column;
}

.SheryaGhoshal,
.UditNarayan,
.MixtedList-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.circle {
  border-radius: 50% !important;
}

.heart {
  font-size: 28px;
  position: absolute;
  bottom: 28px;
  right: 28px;
  cursor: pointer;
}

.filled-heart {
  color: red;
  font-size: 32px;
  position: absolute;
  bottom: 20px;
  right: 27px;
  cursor: pointer;
}
.tiktok {
  font-size: 24px;
  position: absolute;
  bottom: 28px;
  left: 28px;
  color: #fff;
  cursor: pointer;
}
